{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">{{ movie.title }}</h2>
  {% comment %} <h3>{{ movie.pk }} 번째 글</h3> {% endcomment %}
  <hr>
  <img src="{{ movie.poster_path}}"> <br>
  {% comment %} <p>영화 제목: {{ movie.title }}</p> {% endcomment %}
  <p>내용: {{ movie.overview }}</p>
  <p>개봉일: {{ movie.release_date }}</p>
  <p>인기도: {{ movie.popularity }}</p>
  <p>투표수: {{ movie.vote_count }}</p>
  
  {% if movie_comments|length %}
    <p>평점: {{ rank_avg }}</p>
  {% else %}
  <p>평점: {{ movie.vote_average }}</p>
  {% endif %}

  <div>장르:
    {% for genre in movie.genres.all %}
      {{genre.name}}
    {% endfor %}

  </div>
 <hr>

  <h4>댓글 목록</h4>
  <ul>
  {% if movie_comments|length %}
    <p><b>{{ movie_comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in movie_comments %}
  <li>
    <a href="{% url 'accounts:profile' comment.user.username %}" class="name_button">
      {{ comment.user }}
    </a>- {{ comment.content }} {{ comment.star }}

    {% if request.user == comment.user %}
    <form style="display: inline-block;" action="{% url 'movies:delete_movie_comment' movie.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-outline-dark">[X]</button>
    </form>
    {% endif %}
  </li>

{% empty %}
  <li>아직 댓글이 없어요.</li>
{% endfor %}
</ul>

{% if request.user.is_authenticated %}
<form action="{% url 'movies:create_movie_comment' movie.pk %}" method="POST">
  {% csrf_token %}  
  {{ movie_comment_form }}
  <button class="btn btn-outline-dark">comment</button>
</form>

{% else %}
<a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  <hr>
{% endif %} 

<a href="{% url 'movies:index' %}" class="btn btn-outline-dark">[back]</a>
{% endblock  %}
