{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div id="follow-count">
        팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
      </div>
      {% if request.user != person %}
        <div>
          <form id="follow-form" data-user-id="{{ person.pk }}">
            {% csrf_token %}
            {% if request.user in followers %}
              <button>언팔로우</button>
            {% else %}
              <button>팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
    <div class="MyFavMov">
    <h3> My FavMov </h3>
    </div>
    <p>
      <div> 선호하는 장르 :
        {% if person.like_genres.all %}
          {% for genre in person.like_genres.all %}
            < {{ genre }} >
          {% endfor%}
        {% else %}
          <p>선호하는 장르가 없습니다.</p>
        {% endif %}
      </div>
    </p>

    <p>
     <div> 비선호하는 장르 :
        {% if person.hate_genres.all %}
          {% for genre in person.hate_genres.all %}
          < {{ genre }} >
          {% endfor%}
        {% else %}
          <p>비선호하는 장르가 없습니다.</p>
        {% endif %}
      </div>
    </p>

    <p>
      <div> 좋아하는 영화 :
        {% if person.like_movies.all %}
          {% for movie in person.like_movies.all %}
            <img src = "{{ movie.poster_path }}" > 
            < {{ movie.title }} >
          {% endfor%}
        {% else %}
          <p>좋아하는 영화가 없습니다.</p>
        {% endif %}
      </div>
    </p>

    {% comment %} 이미지 태그 활용 {% endcomment %}

    {% if request.user.is_authenticated %}
      {% if username == request.user.username %}
        {% if person.like_genres.all or person.hate_genres.all or person.like_movies.all %}
          <ul> <a href="{% url 'accounts:fond_update' person.username %}" class="btn btn-outline-dark">취향 변경</a> </ul>
        {% else %}
          <ul> <a href="{% url 'accounts:fond_create' person.username %}" class="btn btn-outline-dark">취향 생성</a> </ul>
        {% endif %}
      <ul> <a href="{% url 'accounts:fond_delete' person.username %}" class="btn btn-outline-dark">취향 삭제</a> </ul>
    {% endif %}
  {% endif %}
  

  {% comment %} 썼던 평점 댓글, 게시글 출력 {% endcomment %}

  {% endwith %}
{% endblock %}

{% block script %}
<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  form.addEventListener('submit', function(evnet) {
    event.preventDefault()
    const userId = event.target.dataset.userId

    axios({
      method: 'post',
      url: `/accounts/${userId}/follow/`,
      headers: {'X-CSRFToken' : csrftoken}
    })
    .then(response => {
      const isFollowed = response.data.isFollowed
      const followers_count = response.data.followers_count
      const followings_count = response.data.following_count

      const btn = document.querySelector('#follow-form > button')
      btn.classList.toggle('btn-primary')
      btn.classList.toggle('btn-secondary')
      if (isFollowed) {
        btn.innerText = '언팔로우'
      }
      else {
        btn.innerText = '팔로우'
      }

      const followBox = document.querySelector('#follow-count')

      followBox.innerText = `팔로잉 : ${followings_count} / 팔로워 : ${followers_count}`
    })
    
  })

</script>


{% endblock script %}