{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div id="follow-count" class="profile_total">
        팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
      </class=>
      {% if request.user != person %}
        <div>
          <form id="follow-form" data-user-id="{{ person.pk }}">
            {% csrf_token %}
            {% if request.user in followers %}
              <button>언팔로우</button>
            {% else %}
              <button>팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
    <div class="MyFavMov">

      <div class="line_sum">
      <ul><h3> My FavMov </h3></ul>
      {% if request.user.is_authenticated %}
        {% if username == request.user.username %}
          {% if person.like_genres.all or person.hate_genres.all or person.like_movies.all %}
            <ul> <a href="{% url 'accounts:fond_update' person.username %}" class="btn btn-outline-dark">취향 변경</a> </ul>
          {% else %}
            <ul> <a href="{% url 'accounts:fond_create' person.username %}" class="btn btn-outline-dark">취향 생성</a> </ul>
          {% endif %}
        <ul> <a href="{% url 'accounts:fond_delete' person.username %}" class="btn btn-outline-dark">취향 삭제</a> </ul>
      {% endif %}
    {% endif %}
  </div>
    </div>

  <br>
  <br>
  <br>
    <div class="profile_total">
      <div> 선호하는 장르 :
        {% if person.like_genres.all %}
          {% for genre in person.like_genres.all %}
            < {{ genre }} >
          {% endfor%}
        {% else %}
          <p>선호하는 장르가 없습니다.</p>
        {% endif %}
      </div>
    </div>

    <div class="profile_total">
     <div> 비선호하는 장르 :
        {% if person.hate_genres.all %}
          {% for genre in person.hate_genres.all %}
          < {{ genre }} >
          {% endfor%}
        {% else %}
          <p>비선호하는 장르가 없습니다.</p>
        {% endif %}
      </div>
    </div>

 
   
 
      <div class="profile_total"> 좋아하는 영화 :
        
          {% if person.like_movies.all %}
            {% for movie in person.like_movies.all %}
            <div>
            <div class="profile_fav"> 
              <div class="card2" style="width: 18rem;">
              <img src="{{ movie.poster_path }}" class="card-img-top" alt="poster_{{ movie.poster_path }}">
              <div class="card-body">
                <h4>{{ movie.title }}</h4>
                <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-outline-dark">Detail</a>
              </div>
            </div>
          
              
            </div>
            </div>
            {% endfor%}
          {% else %}
            <p>좋아하는 영화가 없습니다.</p>
          {% endif %}
      </div>
   
    {% comment %} 이미지 태그 활용 {% endcomment %}

  

  {% comment %} 썼던 평점 댓글, 게시글 출력 {% endcomment %}
  <p> 작성한 게시글 </p>
  {% if reviews|length %}
  {% for review in reviews  %}
   {{ review.title }}
  {% endfor %}
  {% else %}
    <p> 작성한 게시글이 없습니다. </p>
  {% endif %}

  <p> 작성한 댓글 </p>
   {% if comments|length %}
  {% for comment in comments  %}
   {{ comment.content }} : {{ comment.rank }}
  {% endfor %}
    {% else %}
    <p> 작성한 댓글이 없습니다. </p>
  {% endif %}

  {% endwith %}
{% endblock %}

{% block script %}
<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  form.addEventListener('submit', function(evnet) {
    event.preventDefault()
    const userId = event.target.dataset.userId

    axios({
      method: 'post',
      url: `/accounts/${userId}/follow/`,
      headers: {'X-CSRFToken' : csrftoken}
    })
    .then(response => {
      const isFollowed = response.data.isFollowed
      const followers_count = response.data.followers_count
      const followings_count = response.data.following_count

      const btn = document.querySelector('#follow-form > button')
      btn.classList.toggle('btn-primary')
      btn.classList.toggle('btn-secondary')
      if (isFollowed) {
        btn.innerText = '언팔로우'
      }
      else {
        btn.innerText = '팔로우'
      }

      const followBox = document.querySelector('#follow-count')

      followBox.innerText = `팔로잉 : ${followings_count} / 팔로워 : ${followers_count}`
    })
    
  })

</script>


{% endblock script %}